{% extends "bot_layout.html" %} 
{% block title %} 
{% endblock %} 


{%block content %}     
</head>

    <body>
        <div>
            <h1 style="text-decoration: underline;">About Us</h1>
            <h2>Welcome to our bank,Bank of AI, where we strive to provide exceptional financial services to our customers.<br>
                Our mission is to provide personalized banking solutions to help our customers achieve their financial goals.<br>
                we strive to provide a welcoming and friendly environment that makes banking with us a pleasure.<br>
                Thank you for considering our bank as your financial partner.<br>
                 We look forward to serving you and helping you achieve your financial goals.<br>
                 Our founders 
            </h2> 
            <div id="creator">
                <h3>Priya, Malvika, Z, Yogi </h3>
            </div>
        </div>
    </body>
   
{% endblock %}
