<html>
  <head>
    <title>Disabling the Default UI</title>
<!--
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    &libraries=geometry,places
-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css')}}" />
  </head>
  <body onload="initMap()">
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
      <script type="text/javascript" src="static\js\map.js">
    </script>
      <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9oGLBRK6S_J2Kd6ejd8M-jll38MGnS-I&libraries=places&callback=initMap&v=weekly"
      defer></script>

  </body>
</html>