{% extends "bot_layout.html" %} 
{% block title %} 
E - Services | Online Banking Website
{% endblock %} 


{%block content %}   
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../CSS/eServCSS.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <h1>Online Banking Website</h1>
            <a href="home.html"><img src="../Images/logo.png" alt="Online Banking System"
                    title="Online Banking Website"></a>
        </div>
        <div>
            <h1>E - Services</h1>
            <div id="eserv"></div>
        </div>
    </body>

    {% endblock %}